header {
    background-color: black;
    color: white;
    grid-area: header;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: grey;
    grid-area: nav;

}

main {
    background-color: darkgrey;
    grid-area: main;
    text-align: center;
}

aside {
    background-color: lightblue;
    grid-area: aside;
}

footer {
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;
}
